ASTROAUTH_URL="http://localhost:3000"
ASTROAUTH_SECRET="YOUR_JWT_SECRET_HERE"
GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"
UNSTORAGE_SERVER_AUTH_API_URL="http://localhost:8081/api/auth"
UNSTORAGE_SERVER_AUTH_API_TOKEN="SECRET_ADMIN_KEY"
UNSTORAGE_SERVER_DATA_API_URL="http://localhost:8081/api/data"
ENCRYPTION_SECRET="YOUR_USER_AND_TOKEN_ENCRYPTION_SECRET"
