---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" page="about">
	<article
		class="prose prose-xl prose-zinc dark:prose-invert prose-a:text-green-500 prose-a:no-underline"
	>
		<h1>About</h1>
		<p>This site is about..</p>
	</article>
</Layout>
